<launch>
  
  <arg name="robot_name" default="uav1" />
  <arg name="drone_interface" value="DJIInterface" />
  
  <group ns="$(arg robot_name)">
    <!-- <node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
      <param name="serial_name" type="string" value="/dev/ttyUSB0"/>
      <param name="baud_rate" type="int" value="921600"/>
      <param name="app_id" type="int" value="1044575"/>
      <param name="app_version" type="int" value="1"/>
      <param name="align_time" type="bool" value="false"/>
      <param name="enc_key" type="string" value="30a29f59071154c15f6b2fff1f5ec21046643577971c22486dd1187312e4d552"/>
      <param name="use_broadcast" type="bool" value="false"/>
    </node> -->
    <include file="$(find dji_sdk)/launch/sdk.launch"/>
    

    <!-- state estimation -->
    <include file="$(find core_central)/launch/dji/sim/dji_sim_state_estimation.launch" pass_all_args="true"/>

    <!-- control -->
    <include file="$(find core_central)/launch/dji/sim/dji_sim_control.launch" pass_all_args="true" />

    <!-- autonomy -->
    <include file="$(find core_central)/launch/common/autonomy.launch" pass_all_args="true"/>

    <!-- visualization -->
    <include file="$(find core_central)/launch/common/visualization.launch" pass_all_args="true"/>

    <!-- logging -->
    <!-- <node name="record" pkg="rosbag" type="record" args="-a -o ~/bags/dji" /> -->

  </group>
  
</launch>
