<!-- -->
<launch>

    <param name="/oa/baseline"          type="double" value="0.10" />
    <param name="/oa/downsample_scale"  type="double" value="2.00" />
    <param name="/oa/low_occ_thresh"    type="double" value="0.90" />
    <param name="/oa/high_occ_thresh"   type="double" value="1.80" />


    <node pkg="disparity_expansion" type="disparity_expansion_clean"
          name="disparity_expansion_clean" output="screen" >

        <remap from="/nerian_sp1/right/camera_info" to="/narrow_stereo/right/camera_info"/>
        <remap from="/nerian_sp1/disparity_map_32F" to="/narrow_stereo/disparity"/>

        <param name="lut_max_disparity" type="int" value="190" />
        <param name="robot_radius" type="double" value="0.50" />
        <param name="bg_multiplier" type="double" value="2.0" />
        <param name="padding" type="double" value="-1.0" />
        <param name="sensor_pixel_error" type="double" value="0.2" />
        <param name="sip_disparity" type="string" value="/narrow_stereo/disparity" />
        <param name="camera_info" type="string" value="/narrow_stereo/right/camera_info" />

    </node>

</launch>
