<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find firefly_bringup)/config/rosconsole.config"/>
  <env name="ROS_PYTHON_LOG_CONFIG_FILE" value="$(find firefly_bringup)/config/python_logging.conf"/>

  <arg name="robot_name" default="uav1" />
  <arg name="drone_interface" default="DJIInterface" />

  <group ns="$(arg robot_name)">
    <include file="$(find dji_sdk)/launch/sdk.launch"/>

    <node pkg="firefly_telemetry" type="onboard_telemetry.py" name="onboard_telemetry" output="screen"/>


    <!-- state estimation -->
    <include file="$(find core_central)/launch/dji/sim/dji_sim_state_estimation.launch" pass_all_args="true" />

    <!-- control -->
    <include file="$(find core_central)/launch/dji/sim/dji_sim_control.launch" pass_all_args="true" />

    <!-- autonomy -->
    <include file="$(find firefly_control)/launch/autonomy.launch" pass_all_args="true" />

    <!-- visualization -->
    <!-- <include file="$(find core_central)/launch/common/visualization.launch" pass_all_args="true" /> -->

    <!-- logging -->
    <!-- <node name="record" pkg="rosbag" type="record" args="-a -o ~/bags/dji" /> -->

    <node pkg="firefly_control" type="ipp_plan_to_trajectory.py" name="ipp_plan_to_trajectory" output="screen"/>

  </group>


  <arg name="planner" default="tigris" />
  <arg name="search" default="true" />
  <arg name="track" default="false" />
  <arg name="rviz" default="true" />
  <arg name="vis_while_planning" default="true" />
  <arg name="loglevel" default="debug" />

  <include file="$(find onr_ipp)/launch/sim_belief_and_plan.launch" pass_all_args="true" />


</launch>
