<launch>
  <!-- Specify to show all ROS logging levels-->
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find firefly_bringup)/config/rosconsole.config" />
  <env name="ROS_PYTHON_LOG_CONFIG_FILE" value="$(find firefly_bringup)/config/python_logging.conf" />

  <arg name="map_resolution" default="0.5" />
  <arg name="map_min_x" default="-250" />
  <arg name="map_max_x" default="250" />
  <arg name="map_min_y" default="-250" />
  <arg name="map_max_y" default="250" />

  <!-- This node maintains the local fire map-->
  <node pkg="firefly_mapping" type="gcs_mapping" name="gcs_mapping" output="screen">
    <param name="resolution" value="$(arg map_resolution)" />
    <param name="min_x" value="$(arg map_min_x)" />
    <param name="max_x" value="$(arg map_max_x)" />
    <param name="min_y" value="$(arg map_min_y)" />
    <param name="max_y" value="$(arg map_max_y)" />
  </node>

  <!-- This node handles all telemetry with the drone -->
  <node pkg="firefly_telemetry" type="gcs_telemetry.py" name="gcs_telemetry" output="screen" />

  <!-- These two nodes are for validating the mapping accuracy -->
  <node pkg="firefly_mapping" type="gps_to_local.py" name="gps_to_local" output="screen">
    <param name="resolution" value="$(arg map_resolution)" />
    <param name="min_x" value="$(arg map_min_x)" />
    <param name="max_x" value="$(arg map_max_x)" />
    <param name="min_y" value="$(arg map_min_y)" />
    <param name="max_y" value="$(arg map_max_y)" />
  </node>

  <node pkg="firefly_mapping" type="mapping_accuracy" name="mapping_accuracy" output="screen" />


  <node pkg="firefly_viz" type="firefly_gcs_polygon.py" name="gcs_polygon_node" output="screen" />

  <!-- This node handles visualization -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find firefly_mapping)/rviz/gcs.rviz" />

  <!-- This node helps with viewing diagnostics -->
  <node type="rqt_console" name="rqt_console" pkg="rqt_console" />

</launch>