<launch>
  
  <arg name="robot_name" default="M100" />
  <arg name="drone_interface" default="IgnitionInterface" />
  <arg name="map_representation" default="PointCloudMapRepresentation" />
  
  <!-- static transforms -->
  <node name="world_to_$(arg robot_name)_map" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /world $(arg robot_name)/map 10"/>
  
  <!-- behavior -->
  <node name="behavior_tree" pkg="behavior_tree" type="behavior_tree_node.py">
    <param name="config" type="string" value="$(find core_gazebo_sim)/config/saop_drone.tree" />
  </node>
  <include file="$(find core_behavior_executive)/launch/saop_behavior_executive_behavior_tree.launch" />
  <include file="$(find core_drone_interface)/launch/drone_interface_node.launch" pass_all_args="true" />
  
  <!-- planning -->
  <include file="$(find core_takeoff_landing_planner)/launch/takeoff_landing_planner.launch" />
  <include file="$(find monitor_controller)/launch/monitor_controller.launch"/>
  <node name="global_plan_fixed_trajectory_generator" pkg="core_trajectory_library" type="fixed_trajectory_generator.py">
    <remap from="fixed_trajectory" to="global_plan_fixed_trajectory" />
    <remap from="trajectory_track" to="global_plan" />
  </node>
  <node name="fixed_trajectory_generator" pkg="core_trajectory_library" type="fixed_trajectory_generator.py">
  </node>
  <include file="$(find core_local_planner)/launch/local_planner.launch" pass_all_args="true" />
  <include file="$(find core_trajectory_controller)/launch/trajectory_controller.launch" pass_all_args="true" />

  <!-- perception -->
  <include file="$(find fireflight_projection)/launch/fireflight_projection.launch" pass_all_args="true"/>
  <node name="front_stereo" pkg="stereo_image_proc" type="stereo_image_proc" ns="front_stereo" />
  <node pkg="disparity_expansion" type="disparity_conv" name="disparity_conv"/>
  <node pkg="disparity_expansion" type="disparity_expansion_clean" name="disparity_expansion">
    <param name="lut_max_disparity" type="int" value="180" />
    <param name="robot_radius" type="double" value="1.0" />
    <param name="bg_multiplier" type="double" value="2.0" />
    <param name="sensor_pixel_error" type="double" value="0.5" />
    <param name="padding" type="double" value="-1" />
    
    <remap from="/nerian_sp1/right/camera_info" to="front_stereo/right/camera_info" />
    <remap from="/nerian_sp1/disparity_map_32F" to="front_stereo/disparity" />
    
    <remap from="/ceye/left/expanded_disparity_fg" to="front_stereo/left/disparity_expanded_fg" />
    <remap from="/ceye/left/expanded_disparity_bg" to="front_stereo/left/disparity_expanded_bg" />
  </node>
  
</launch>
